/*
============================================
; Title: Assignment #.# global.css
; Author: Professor Krasso & Ace Baugh
; Date: 05/25/2022
; Modified By: Ace Baugh
; Description: Global CSS file for all WEB 231 exercises and projects
;============================================
*/

/* importing Oswald Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Oswald:wght@300;400;500;700&family=Poiret+One&display=swap');

/* Declaring site colors globally for ease of changing later */
:root {
	--primaryColor: #3c275a;
	--accentColor: #d6a800;
	--secondaryColor: #453674;
}

/* Return Home Links */
.return-home {
	color: var(--secondaryColor);
	text-decoration: none;
}

.return-home:hover {
	background-color: var(--accentColor);
	color: var(--secondaryColor);
}

.return-home:visited {
	color: var(--primaryColor);
}