/*
============================================
; Title: Assignment 9.2 - Card Game - baugh-card-game.css
; Author: Professor Krasso & Ace Baugh
; Date: 07/18/2022
; Modified By: Ace Baugh
; Description: This CSS file gives extra style to baugh-card-game.html
;============================================
*/

/* centering text of each card */
.player-card {
	text-align: center;
}

/* style for the deck of cards */
#player-card-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 10px;
	grid-gap: 10px;
}
