/*
============================================
; Title: Assignment 3.2 - Temperature Conversion - baugh-temp-conversion.css
; Author: Professor Krasso & Ace Baugh
; Date: 06/07/2022
; Modified By: Ace Baugh
; Description: This CSS file gives style to baugh-temp-conversion.html
;============================================
*/

.results {
	margin: 0;
	text-align: center;
	font-size: 28px;
}


